.heading {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  border-radius: 40px 0 40px 0;
  width: 65%;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img {
  margin-top: 36px;
}
